{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>일인분</title>
        <style>
            .recommend {
                border:dashed; border-color:darkorange; text-align:center; 
                position: relative; width:900px; height:430px; margin: 10 10 10 10;
                padding: 20 20;
            }
            .recommend th {
                text-align: center; padding: 5px;
            }
            #little{
                font-family:'굴림';font-size:8pt; color:dimgrey; 
                top:650px; left:670px; 
                text-align:center; margin: 20px;
            }
            .todaydish{
                width: 300px; height: 300px; 
            }
            .todaydish:hover {opacity:0.8;}

        </style>
    </head>

    <body>    
        <div class="col-md-10">
            <span style="font-family:'굴림'; font-size:8pt; color:dimgrey; position: relative; left:20px; margin-top: 10px;">
                * 이미지를 클릭하면 해당 음식의 레시피를 보실 수 있습니다.<br>
                * '유튜브검색결과'를 클릭하면 유튜브에서 해당 음식을 검색한 결과를 제공합니다.</span>
            <table class="recommend">
                <tr>
                    <th>일인분의 랜덤메뉴</th>
                    <th>VIDEO</th>
                    <!-- <td rowspan="3" style="font-size: 15pt;">
                        '오늘은 뭐 먹지?'<br>'이 재료들로 할 수 있는 요리가 뭐가 있지?'<br>
                        고민 중이셨나요? <br/>
                        선택한 재료만으로 할 수 있는 요리와 <br>
                        선택한 재료를 포함하는 요리를 구분지어 보여주는 <br>
                        당신만을 위한 요리냉장고 <mark>'일인분'</mark>에 오신 것을 환영합니다!
                    </td> -->             
                </tr>
                <tr>
                    <td>
                        {% if todaydish.image %}
                        <a href="{% url 'recommendrecipy' todaydish.id %}" title="레시피 보기">
                        <img class = "img-thumbnail todaydish" src = "{{todaydish.image.url}}" alt = "이미지 준비중">
                        </a>
                        {% endif %}
                        <br>
                        
                    </td>
                    <td>
                        {% if '달걀간장밥' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/UekEolhleeU" frameborder="0" allowfullscreen>
                        {% elif '딸기요거트' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/00YWfb6_mIE" frameborder="0" allowfullscreen>
                        {% elif '김치볶음밥' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/eIo2BaE6LxI" frameborder="0" allowfullscreen>
                        {% elif '닭가슴살볶음' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/oWoun98fxBk" frameborder="0" allowfullscreen>
                        {% elif '토마토달걀볶음' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/pTvMsM2v1tg" frameborder="0" allowfullscreen>
                        {% elif '불닭볶음밥' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/a0rLqfL_Pu0" frameborder="0" allowfullscreen>
                        {% elif '달걀볶음밥' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/qUDEyONQaCA" frameborder="0" allowfullscreen>
                        {% elif '스탠다드김밥' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/10fl2mebYHs" frameborder="0" allowfullscreen>
                        {% elif '김치밥' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/R6IT_f0XPT8" frameborder="0" allowfullscreen>
                        {% elif '달걀버섯두부면' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/NwxIv4TIXMA" frameborder="0" allowfullscreen>
                        {% elif '비빔밥' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/_wdyeAA1Wqc" frameborder="0" allowfullscreen>
                        {% elif '스팸마요김치덮밥' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/kj2ZupQ7fts" frameborder="0" allowfullscreen>
                        {% elif '오므라이스' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/V9a7AL_6Od0" frameborder="0" allowfullscreen>
                        {% elif '달걀빵' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/FZOQ8x30raM" frameborder="0" allowfullscreen>
                        {% elif '달걀 토스트' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/vI_4irMaZrM" frameborder="0" allowfullscreen>
                        {% elif '토마토샐러드' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/0fApokprvzs" frameborder="0" allowfullscreen>
                        {% elif '토마토스파게티' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/bUepic1X2Q4" frameborder="0" allowfullscreen>
                        {% elif '차돌박이숙주볶음' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/3sv2zvrnk2s" frameborder="0" allowfullscreen>
                        {% elif '로제 떡볶이' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/3lfGGdhsq5Y" frameborder="0" allowfullscreen>
                        {% elif '불맛 달걀볶음밥' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/kR77WlHRZrs" frameborder="0" allowfullscreen>
                        {% elif '베이컨 크림 파스타' in todaydish.name %}
                        <embed width="300" height="300" src="https://www.youtube.com/embed/0bnFoRQebq0" frameborder="0" allowfullscreen>
                        {% else %}
                        <h5> 직접 유튜브에 검색해 레시피를 알아보세요! </h5>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="font-size:15pt; background-color:orange;">[ {{ todaydish.name }} ]</span><br>&nbsp;
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-expand"></span>
                        <a href="https://www.youtube.com/results?search_query={{todaydish.name}}" title="일인분은 유튜브 검색 결과 중 상단에 있으며 음식명이 같은 영상을 제공합니다.
또다른 영상이 궁금하시다면 버튼을 눌러 확인해보세요!" style="text-decoration: underline;">유튜브검색결과</a>
                        <br>&nbsp;
                    </td>
                </tr>
            </table>
            <div id="little" >
                고객센터 : 0000 - 0000<br />
                    평일 09:00 ~ 18:00 (주말 & 공휴일 제외)<br /><br />
                    이용약관 개인정보처리방침 공지사항<br />
                    사업자등록번호 000-00-0000 주소 : 서울 용산구 청파로
            </div>
        </div>

        {% endblock %}
    </body>
    
</html>
