{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
<head>
    <style>
        
        
        #editpage{
            margin-top: 20px;
            margin-left:20px;
        }
    </style>
</head>
<body>
    <div id="editpage" class="col-md-8">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form }}
            <button id="revise" type="submit" class="btn btn-warning btn-sm">수정</button>
        </form>
    </div>
</body>


{% endblock %}