{% extends 'base.html' %}


{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
<head>
  <style>
    .page {
      margin-left: auto;
      margin-right: auto;
    }
    .card_text {
      text-align: center;
    }
    
  </style>
</head>

  <body>
    <br>
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
              {% if user.is_authenticated %}
              {% if request.user.position == "사업자" %}
              <a href="{% url 'expertcreate' %}" class="btn btn-primary my-2">새 글 쓰기</a>
              {% else %}
              <a></a>
              {% endif %}
              {% endif %} 
            
            
            
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            
            {% for expert in page_list %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img width="300" height="300" class="card-img-top" src="{{expert.image.url}}" alt="Card image cap">
                <div class="card-body">
                  <div class="card_text">
                    <p id="title">[{{expert.category}}]{{expert.title}} <small class="text-muted">{{expert.writer}}</small>
                    </p>
                    {% if user.is_authenticated %}
                    <div class="btn-group">
                      <a href="{% url 'detail' expert.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">자세히 보기</button></a>
                    </div>
                    {% else %}
                    <div class="btn-group">
                      <a href="#" onclick = "return alert('로그인 후 열람 가능합니다.')"><button type="button" class="btn btn-sm btn-outline-secondary">자세히 보기</button></a>
                    </div>
                    {% endif %}
                    
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            
              

    </main>
    <div class="page">
      <ul class="pagination justify-content-center">
        {% if page_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_number in page_list.paginator.page_range %}
            {% if page_number == page_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% if page_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    
    </div>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>
    
  </body>
</html>
{% endblock %}
