{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% block container %}

<head>
    <style>
        .form{
            display:flex;
            justify-content: center;
            margin-top: 50px;
        }
        .title{
            width:720px;
            height:35px;
        }
        .category{
            list-style: none;
        }
        
        #submit{
            float:right;
            
        }
        .back{
            background-color:#FAECC5;
        }
        /* #newpage{
            margin-left:10px;
        } */
    </style>
    <script>
//         window.setTimeout(function() {
//     $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
//         $(this).remove();
//     });
// }, 4000);
    </script>
</head>
<body>
    <div class="col-md-offset-1 col-md-10">
        {% for message in messages %}
        <div style="text-align:center;" class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center back" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                {{ message }}
        </div>
        {% endfor %}
    <br>
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button id="submit" type="submit" class="btn btn-warning btn-sm">작성</button>
    </form>
</div>
</body>









{% endblock %}
{% endblock %}


