{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}


<body>
      <br>
      {% block content %}
      <a class="new" href="{% url 'postcreate' %}">새 글 작성</a>
      <br/><br/>

        {% for post in posts %}
        <div class="container">
        <div class="card">
                <div class="card-body">
                    <h2><a href="{% url 'postshow' post.id %}">{{post.title}}</a></h2>
                    <br/>
                    <p id="postcontent">{{ post.content }}</p>
                </div>
            </div>
        </div>
        <br/>
        {% endfor %}
        {% endblock content %}
</body>