{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% block container %}
<head>
    <style>
        .form{
            display:flex;
            justify-content: center;
            margin-top: 50px;
        }
        .title{
            width:720px;
        }
        /* #submit{
            position:absolute;
            left:650px;
            
        } */
    </style>
    <script>
//         window.setTimeout(function() {
//     $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
//         $(this).remove();
//     });
// }, 4000);
    </script>
</head>

<body>
    <div id="cookResult" class="col-md-8">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                {{ message }}
        </div>
        {% endfor %}
        <div class="form">
            <form  method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            
            <br><button id="submit" type="submit" class="btn btn-warning">작성</button>
        </form>
        </div>
    </div>
</body>



{% endblock %}
{% endblock %}