{% extends 'list.html' %}
{% load static %}
{% block content %}
<html>
<body>

    <div class="container">

    <h3>제목 : {{ post.title }}</h3>
    <br/>
    <p>글쓴이 <span id="user_name">{{ post.writer.nickname }}</span></p>
    <hr/>
    <p>내용 : {{ post.content }}</p>
    
    <div class="bt">
        {% if post.writer == user %}
            <a id="something" href="{% url 'postupdate' post.id %}">수정하기</a>
            <a id="something" href="{% url 'postdelete' post.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
        {% endif %}
    </div>
    <br/>
    <hr/>
    <a href="{% url 'list' %}">뒤로가기</a>
    <br/>
 
    {% if user.is_authenticated %}
        {% if communityscrap %}
            <a href="{% url 'communityscrap' post.id %}">스크랩 취소</a>
        {% else %}
            <a href="{% url 'communityscrap' post.id %}">스크랩</a>
        {% endif %}
        <br/><br/>

        <a href="#" data-uri="{% url 'likes' post.id  %}" class="recommend btn btn-primary">추천</a>
        <p>{{ post.like.all.count }}명이 이 게시글을 좋아합니다.</p>
        {% block script %}
        <script type='text/javascript'>
        $(document).ready(function(){
            $(".recommend").on('click', function() {
                if(confirm("정말로 추천하시겠습니까?")) {
                    location.href = $(this).data('uri');
                }
            });
        });
        </script>
        {% endblock %}

        <p id="cmt"><a href="{% url 'commentcreate' post.id %}">댓글 작성하기</a></p>
        <form method='POST'>
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-primary">댓글 등록</button>
        </form>
    {% endif %}

    <br/>

        

    <h4>댓글 목록</h4>
    {% for comment in post.comment_set.all %}
        
        {{comment.writer.nickname}} : {{comment.content}}
        {% if comment.writer == user %}
            <a id="something" href="{% url 'commentupdate' post.id comment.id %}">수정하기</a>
            <a id="something" href="{% url 'commentdelete' post.id comment.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
        {% endif %}
        
        <br/>
        
    {% endfor %}
    <br/>
    


</div>
</body>
</html>
{% endblock %}