{% extends 'base2.html' %}
{% block content %}
<head>
    <title>Login</title>
    <style>
        .login{
            text-align: center;
        }
        .errorlist{
            font-size: 9pt;
            text-align: center;
            background-color:cornsilk;
            margin-left: 200px;
            margin-right:200px;
            border-radius: 100px;
            
        }
    </style>
    <!-- <script>
                window.setTimeout(function() {
            $(".alert-auto-dismissible").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }, 4000);
            </script> -->
</head>

<div class="login">
    <br>
    <h4>LOGIN</h4> <br>
<form action="{% url 'login' %}" method="post">
    
    {% csrf_token %}
    {{forms.as_p}}
    <button type="submit" style="border-style:none; width:70px; height:40px; background-color:darkorange; border-radius:5px; font-size:12pt; font-weight:light;">확인</button>
    <button type="reset" style="border-style:none; width:70px; height:40px; background-color:darkorange; border-radius:5px; font-size:12pt; font-weight:light;">취소</button>
</form><br>
<h6>회원이 아니라면?<a href="{% url 'signup' %}"> 회원가입하기 </a></h6>
</div>




{% endblock %}