{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
<head>
    <style>
        .post_list{
            border: medium double black;
            overflow:auto;
            height:140px;
            width:400px;
        }
    </style>
</head>
<h2>my page</h2>

<h2>작성한 게시글</h2>
{% if request.user.position == "사업자" %}
<h4>전문가 일인분</h4>
<p class="post_list">

{% if expert_posts %}
{% for expert_post in expert_posts %}
글제목: {{ expert_post.title }}  <a href="{% url 'detail' expert_post.id %}">글 보기</a><br>
{% endfor %}
{% else %}
아직 작성한 글이 없습니다.
{% endif %}
{% endif %}
</p>
<br>
<h4>BEST RECIPE</h4>
<p class="post_list">
    
{% if best_posts %}
{% for best_post in best_posts %}
글제목: {{ best_post.title }}  <a href="{% url 'detail' best_post.id %}">글 보기</a><br>
{% endfor %}
{% else %}
아직 작성한 글이 없습니다.
{% endif %}
</p>
<h4>COMMUNITY</h4>
<p class="post_list">
{% if com_posts %}
{% for com_post in com_posts %}
글제목: {{ com_post.title }}  <a href="{% url 'postshow' com_post.id %}">글 보기</a><br>
{% endfor %}
{% else %}
아직 작성한 글이 없습니다.
{% endif %}
</p>



<h2>스크랩</h2>
<h4>전문가 일인분</h4>
<p class="post_list">
{% if expert_scraps %}
{% for expert_scrap in expert_scraps %}
글제목: {{ expert_scrap.expert }}<a href="{% url 'detail' expert_scrap.expert.id %}">글보기</a><br>
{% endfor %}
{% else %}
아직 스크랩한 글이 없습니다.
{% endif %}
</p>
<h4>BEST RECIPE</h4>
<p class="post_list">
    
{% if best_scraps %}
{% for best_scrap in best_scraps %}
글제목: {{ best_scrap.post }}  <a href="{% url 'detail' best_scrap.id %}">글 보기</a><br>
{% endfor %}
{% else %}
아직 스크랩한 글이 없습니다.
{% endif %}
    
    </p>
<h4>COMMUNITY</h4>
<p class="post_list">
    {% if com_scraps %}
    {% for com_scrap in com_scraps %}
    글제목: {{ com_scrap.post }}<a href="{% url 'postshow' com_scrap.post.id %}">글보기</a><br>
    {% endfor %}
    {% else %}
    아직 스크랩한 글이 없습니다.
    {% endif %}
    </p>
{% endblock %}