{% extends 'base3.html' %}
{% block content %}
<head>
    <style>
        .signup {
            text-align: center;
        }
        h1{
            font-family: 'Noto Sans KR', sans-serif;
        }
        .border1{
            
        }
        .business{
            text-align: center;
        }
        .box{
            width:300px;
            height:30px;
            border-radius: 5px;
            color:gray;
        }
        .errorlist{
            font-size: 8pt;
            background-color: white;
            text-align: center;
        }
    </style>
</head>
<div class="signup">
    <br><h4>SIGN UP</h4>
<div>
<form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{forms.as_p}}
    
    <p>이미 회원이라면? <a href="{% url 'login' %}">로그인하기</a></p>
        <button type="submit" style="border-style:none; width:70px; height:40px; background-color:darkorange; border-radius:5px; font-size:12pt; font-weight:light;">확인</button>
        <button type="reset" style="border-style:none; width:70px; height:40px; background-color:darkorange; border-radius:5px; font-size:12pt; font-weight:light;">취소</button>
</form>
</div>
</div>
{% endblock %}