{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<head>
    <style>
        #text{
          display: inline-block;
        }
        h4{
            text-align: center;
        }
    </style>
    
</head>
<body>
    
    <div style="text-align:center;" class="col-md-offset-1 col-md-8">
        
    <h4 style="border-radius:40px;color:white;padding-bottom:20px;padding-top:20px;background-color: salmon;">회원정보 수정</h4><br>
    <div style="border:2px solid salmon;margin-left:200px;margin-right:200px;padding-top:20px;border-radius:30px;">
    <a href="{% url 'passwordChange' %}">비밀번호 변경하기</a><br>
        <div id="text">
            <form class="form-inline-center" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form user_change_form %}
                <button type="submit" class="btn btn-warning">변경</button>
            </form>
        </div>
    </div>
    </div>
</body>
{% endblock %}