{% extends 'base.html' %} 
{% load bootstrap4 %} 
{% bootstrap_css %} 
{% bootstrap_javascript jquery='full' %}
{% load static %} 
{% block content %} 

<html lang="ko">
<head>
    <style>
        hr{
            background-color: orange;
        }

        section {
            position: relative;
            margin: 10px;
        }

        table {
            width: 100%;
        }
        th {
            text-align: center;
        }
                
        .box1 {
            padding: 10px; padding-bottom: 30px;
            margin: 20px; border-radius: 20px;
            background-color: white;
            text-align: center;
            /* position: relative; */
            display: inline-block;
            width: 800px; height: fit-content;
            left: 50px;
        }
        .box1 p{
            margin: 3px;
        }
    
        h1 {
            font-size: xx-large;
        }
    
        #viewcook{
            /* position: relative; width: 700px; */
            margin-left: 100px;
        }
    
        #MainResult{
            margin: 10px;
            left: 50px;
            font-size: 15pt;
        }

        #check {
            width: 200px; height: 50px; 
            margin-left:auto;
            margin-right:auto;
            /* position: relative; left: 375; */
            border-radius: 10px;
            background-color: #f59e00; border-color: #f59e00; 
            -webkit-box-shadow: 0 3px 0 #b37401; box-shadow: 0 3px 0 #b37401;
            z-index: 1;   
        }
    
        #check:hover {
            background-color:#dd9003;
        }
    
    </style>
</head>



<body>
    <div class="container-fluid col-md-8">
        <article>
            <section>
                <h1><img src="{% static 'fridge.png' %}" width="50px">나의 냉장고 _ What's In Your Refrigerator?</h1>
                <p>당신의 냉장고에는 무엇이 있나요? 가지고 있는 재료를 선택해주세요. <br/>
                    선택한 재료만으로 만들 수 있는 요리와 선택한 재료를 포함한 요리를 구분하여 추천해드립니다.</p>
            </section>
    
            <section>
                <form method="GET" action="{% url 'showdish' %}">
                    <div class = "box1">
                        <h2>재료 선택<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></h2>
                        <p>어떤 재료를 가지고 계신가요? <br>가지고 있는 메인 재료를 선택해주세요:) <br>* 1개 이상 선택(중복 선택 가능)</p>
                        <hr>
                        <table>
                            <tr>
                                <th>메인</th>
                                <th>육류</th>
                                <th>야채/채소</th>
                                <th>주요 소스 </th>
                            </tr>
                            <tr>
                                <td>
                                    <p><input type="checkbox" name="ingredients" value="밥" onclick="getCheckboxValue1()"/>밥</p>
                                    <p><input type="checkbox" name="ingredients" value="식빵" onclick="getCheckboxValue1()"/>식빵</p>
                                    <p><input type="checkbox" name="ingredients" value="달걀" onclick="getCheckboxValue1()"/>달걀</p>
                                    <p><input type="checkbox" name="ingredients" value="김치" onclick="getCheckboxValue1()"/>김치</p>
                                    <p><input type="checkbox" name="ingredients" value="햄" onclick="getCheckboxValue1()"/>햄</p>
                                </td>
                                <td>
                                    <p><input type="checkbox" name="ingredients" value="닭고기" onclick="getCheckboxValue1()"/>닭고기</p>
                                    <p><input type="checkbox" name="ingredients" value="닭가슴살" onclick="getCheckboxValue1()"/>닭가슴살</p>
                                    <p><input type="checkbox" name="ingredients" value="돼지고기" onclick="getCheckboxValue1()"/>돼지고기</p>
                                    <p><input type="checkbox" name="ingredients" value="삼겹살" onclick="getCheckboxValue1()"/>삼겹살</p>
                                    <p><input type="checkbox" name="ingredients" value="돼지목살" onclick="getCheckboxValue1()"/>돼지목살</p>
                                    <p><input type="checkbox" name="ingredients" value="소고기" onclick="getCheckboxValue1()"/>소고기</p>
                                    <p><input type="checkbox" name="ingredients" value="차돌박이" onclick="getCheckboxValue1()"/>차돌박이</p>
                                </td>
                                <td>
                                    <p><input type="checkbox" name="ingredients" value="버섯" onclick="getCheckboxValue1()"/>버섯</p>
                                    <p><input type="checkbox" name="ingredients" value="파" onclick="getCheckboxValue1()"/>파</p>
                                    <p><input type="checkbox" name="ingredients" value="양파" onclick="getCheckboxValue1()"/>양파</p>
                                    <p><input type="checkbox" name="ingredients" value="샐러드야채" onclick="getCheckboxValue1()"/>샐러드야채</p>
                                    <p><input type="checkbox" name="ingredients" value="시금치" onclick="getCheckboxValue1()"/>시금치</p>
                                    <p><input type="checkbox" name="ingredients" value="숙주나물" onclick="getCheckboxValue1()"/>숙주나물</p>
                                    <p><input type="checkbox" name="ingredients" value="콩나물" onclick="getCheckboxValue1()"/>콩나물</p>
                                    <p><input type="checkbox" name="ingredients" value="당근" onclick="getCheckboxValue1()"/>당근</p>
                                    <p><input type="checkbox" name="ingredients" value="애호박" onclick="getCheckboxValue1()"/>애호박</p>
                                    <p><input type="checkbox" name="ingredients" value="고추" onclick="getCheckboxValue1()"/>고추</p>
                                    <p><input type="checkbox" name="ingredients" value="깻잎" onclick="getCheckboxValue1()"/>깻잎</p>
                                    <p><input type="checkbox" name="ingredients" value="청경채" onclick="getCheckboxValue1()"/>청경채</p>
                                </td>
                                <td rowspan="3">
                                    <p><input type="checkbox" name="ingredients" value="고추장" onclick="getCheckboxValue1()"/>고추장</p>
                                    <p><input type="checkbox" name="ingredients" value="고춧가루" onclick="getCheckboxValue1()"/>고춧가루</p>
                                    <p><input type="checkbox" name="ingredients" value="양념장" onclick="getCheckboxValue1()"/>양념장</p>
                                    <p><input type="checkbox" name="ingredients" value="우유" onclick="getCheckboxValue1()"/>우유</p>
                                    <p><input type="checkbox" name="ingredients" value="잼" onclick="getCheckboxValue1()"/>잼</p>
                                    <p><input type="checkbox" name="ingredients" value="토마토소스" onclick="getCheckboxValue1()"/>토마토소스</p>
                                    <p><input type="checkbox" name="ingredients" value="까르보나라소스" onclick="getCheckboxValue1()"/>까르보나라소스</p>
                                    <p><input type="checkbox" name="ingredients" value="간장" onclick="getCheckboxValue1()"/>간장</p>
                                    <p><input type="checkbox" name="ingredients" value="생크림" onclick="getCheckboxValue1()"/>생크림</p>
                                    <p><input type="checkbox" name="ingredients" value="굴소스" onclick="getCheckboxValue1()"/>굴소스</p>
                                    <p><input type="checkbox" name="ingredients" value="치킨스톡" onclick="getCheckboxValue1()"/>치킨스톡</p>
                                    <p><input type="checkbox" name="ingredients" value="통마늘" onclick="getCheckboxValue1()"/>통마늘</p>
                                    <p><input type="checkbox" name="ingredients" value="다진마늘" onclick="getCheckboxValue1()"/>다진마늘</p>
                                    <p><input type="checkbox" name="ingredients" value="맛술" onclick="getCheckboxValue1()"/>맛술</p>
                                    <p><input type="checkbox" name="ingredients" value="불닭소스" onclick="getCheckboxValue1()"/>불닭소스</p>
                                    <p><input type="checkbox" name="ingredients" value="마요네즈" onclick="getCheckboxValue1()"/>마요네즈</p>
                                    <p><input type="checkbox" name="ingredients" value="케찹" onclick="getCheckboxValue1()"/>케찹</p>
                                    <p><input type="checkbox" name="ingredients" value="버터" onclick="getCheckboxValue1()"/>버터</p>
                                </td>
                            </tr>
                            <tr>
                                <th>면류</th>
                                <th>해조류/해산물</th>
                                <th>과일/디저트류</th>
                            </tr>
                            <tr>
                                <td>
                                    <p><input type="checkbox" name="ingredients" value="라면" onclick="getCheckboxValue1()"/>라면</p>
                                    <p><input type="checkbox" name="ingredients" value="소면" onclick="getCheckboxValue1()"/>소면</p>
                                    <p><input type="checkbox" name="ingredients" value="파스타면" onclick="getCheckboxValue1()"/>파스타면</p>
                                    <p><input type="checkbox" name="ingredients" value="칼국수 면" onclick="getCheckboxValue1()"/>칼국수 면</p>
                                    <p><input type="checkbox" name="ingredients" value="두부면" onclick="getCheckboxValue1()"/>두부면</p>
                                </td>
                                <td>
                                    <p><input type="checkbox" name="ingredients" value="김" onclick="getCheckboxValue1()"/>김</p>
                                    <p><input type="checkbox" name="ingredients" value="바지락" onclick="getCheckboxValue1()"/>바지락</p>
                                    <p><input type="checkbox" name="ingredients" value="낙지" onclick="getCheckboxValue1()"/>낙지</p>
                                    <p><input type="checkbox" name="ingredients" value="오징어" onclick="getCheckboxValue1()"/>오징어</p>
                                    <p><input type="checkbox" name="ingredients" value="쭈꾸미" onclick="getCheckboxValue1()"/>쭈꾸미</p>
                                    <p><input type="checkbox" name="ingredients" value="게맛살" onclick="getCheckboxValue1()"/>게맛살</p>
                                </td>
                                <td>
                                    <p><input type="checkbox" name="ingredients" value="블루베리" onclick="getCheckboxValue1()"/>블루베리</p>
                                    <p><input type="checkbox" name="ingredients" value="딸기" onclick="getCheckboxValue1()"/>딸기</p>
                                    <p><input type="checkbox" name="ingredients" value="바나나" onclick="getCheckboxValue1()"/>바나나</p>
                                    <p><input type="checkbox" name="ingredients" value="귤" onclick="getCheckboxValue1()"/>귤</p>
                                    <p><input type="checkbox" name="ingredients" value="사과" onclick="getCheckboxValue1()"/>사과</p>
                                    <p><input type="checkbox" name="ingredients" value="그래놀라" onclick="getCheckboxValue1()"/>그래놀라</p>
                                    <p><input type="checkbox" name="ingredients" value="두부면" onclick="getCheckboxValue1()"/>시리얼</p>
                                    <p><input type="checkbox" name="ingredients" value="시리얼" onclick="getCheckboxValue1()"/>딸기청</p>
                                    <p><input type="checkbox" name="ingredients" value="자몽청" onclick="getCheckboxValue1()"/>자몽청</p>
                                    <p><input type="checkbox" name="ingredients" value="플레인요거트" onclick="getCheckboxValue1()"/>플레인요거트</p>
                                    <p><input type="checkbox" name="ingredients" value="그릭요거트" onclick="getCheckboxValue1()"/>그릭요거트</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align: center;">기타: <input type="text" name="direct" maxlength="50" default=''/> </td>
                            </tr>
                        </table>
                    </div>
                    <input id="check" type="submit" title="무슨 음식을 할 수 있을까?" target="_self" value="요리보기">
                    
                </form>
            </section>  
    
            <section>
                <div id="viewcook">
                    <div id="MainResult">선택한 메인 재료: </div>
                </div>
    
            </section>
    
        </article>
    
        <script type="text/javascript">
    
            function getCheckboxValue1()  {
                const checkboxes = document.querySelectorAll('input[name="ingredients"]');  //전체 체크박스
                const checked = document.querySelectorAll('input[name="ingredients"]:checked');  //선택된 체크박스
    
                let result = ''; var count=1;
                checked.forEach((el) => {
                    result += el.value
                    if (count!=checked.length) {
                        result += ', ';
                        count++
                    } else {
                        count=1;
                    }
                });
      
                document.getElementById('MainResult').innerText= "선택한 메인 재료: " + result;
            }
    
    
            
        </script>
        {% endblock %}
    </body>
    </div>





    

</html>
